<ul class="nav-list">
  {{#each navigation}}
  {{#if this.content}}
  <li class="nav-item">
    {{#if this.url}}
    <a href="{{{this.url}}}">{{this.content}}</a>
    {{else}}
    <span>{{this.content}}</span>
    {{/if}}
    {{#if this.items}}
    {{> nav-tree navigation=this.items}}
    {{/if}}
  </li>
  {{else}}
  {{#if this.items}}
  {{> nav-tree navigation=this.items}}
  {{/if}}
  {{/if}}
  {{/each}}
</ul>
