<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#if page.title}}{{page.title}} | {{/if}}{{site.title}}</title>
    <link rel="stylesheet" href="{{{siteRootPath}}}/css/site.css">
  </head>
  <body>
    <header class="site-header">
      <div class="site-header__inner">
        <a class="site-header__brand" href="{{{siteRootPath}}}">{{site.title}}</a>
        {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="site-search">
          <div id="search-field" class="site-search__field">
            <input id="search-input" class="site-search__input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
          </div>
        </div>
        {{/if}}
      </div>
    </header>
    <div class="layout">
      <aside class="sidebar">
        {{#if page.navigation}}
        <nav class="nav-menu">
          {{> nav-tree navigation=page.navigation}}
        </nav>
        {{/if}}
      </aside>
      <main class="content">
        <article class="doc">
          {{{page.contents}}}
        </article>
      </main>
    </div>
    {{#if env.SITE_SEARCH_PROVIDER}}
    {{> search-scripts}}
    {{/if}}
  </body>
</html>
